@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

}


a:visited {
    color: inherit;
}

  
i{
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --res: calc(0.1 * 1vmin);
}
body> * {
    position: relative;
    z-index: 1;
}



body{

    width: 100%;
    min-width: 375px;
    display: flex;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    height: 200vh;
    overflow-x: hidden;
    position: relative;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #49a8ce;
    align-items: center;
    opacity: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-image: url(/SVG/polygon-scatter-haikei\ \(1\).svg); */
    opacity: 0.04; /* Set the opacity to 50% */
 
}


.textwidth375{
    display: none;
}
/* ----------------------------------------- */
/* HEADER */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

header .logo{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
header .logo img{
    width: max(calc(180 * var(--res)), 110px);
}

header .logo button{
    display: flex;
    width: calc(110 * var(--res)) ;
    height:calc(30 * var(--res)) ;
    font-size: max(calc(11 * var(--res)), 15px);
    border-radius: 12px;
    border: none;
    min-height: 30px;
    cursor: pointer;
    min-width: 130px;
    color: #178cbb;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 600;
}

header .logo button:hover{

    background-color: rgba(10, 10, 10, 0.092);
    color: rgba(0, 0, 0, 0.777);
}
/* ----------------------------------------- */
/* MILK TITLE */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8%;
    margin: 0 auto;
    min-height: 30px;
    width: 100%;
    margin: 30px;
}
.title h1{
    font-size: 50px;
    color: #2d344a;
}
/* ----------------------------------------- */
/* WRAPPING 2 CARDS */
.wrap-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 90vh;
    max-width: 900px;
    max-height: 450px;
}
/* LEFT CARD*/
.left-card{
    width: 49%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
    display: flex;
    align-items: center;
}
.left-card img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
/*RIGTH CARD*/
.right-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 59%;
    border-radius: 12px;
    max-width: 600px;
    max-height: 700px;
    background-color: white;
    height: 100%;
    padding: 0.5em 0;
}
.right-card .paragraph{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    justify-content: space-around;
    text-align: justify;
}
.right-card .paragraph p{
    font-size: calc(11 * var(--res));
    color: #2d344a;
    font-weight: 600;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* LINK */
.right-card .buttons-wrapper{
    display: flex;
    width: 90%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

.right-card .buttons-wrapper a{
    display: flex;
    width: 24%;
    font-size: min(calc(12 * var(--res)), 12px);
    border-radius: 12px;
    border: 2px solid #178cbb;
    min-height: 30px;
    cursor: pointer;
    min-width: 20px;
    color: #2d344a;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: none;
}
.right-card .whole-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 90%;
}
.right-card .whole-button button{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: calc(11 * var(--res));
    border-radius: 12px;
    border: none;
    min-height: 30px;
    cursor: pointer;
    min-width: 110px;
    color: #fdfdfde6;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #178cbb;
}


/* ----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------*/
.presale-title{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    height: 8vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.presale-title h3{
    font-size: 35px;
    color: #2d344a;
}
/* PRESALE */
.presale-wrap{
    display: flex;
    flex-direction: column;
    height: 60vh;
    max-height: 500px;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 10vh;
}
.presale-wrap .presale-card{
    display: flex;
    align-items: center;
    height: 40vh;
    padding: 20px;
    max-height: 500px;
    justify-content: space-around;
    border-radius: 24px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.922);
}
/* LEFT PRESALE */
.presale-wrap .presale-card .left{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90%;
    justify-content: space-between;
    width: 50%;
}
/* MINI CARDS */
.presale-wrap .presale-card .left .mini-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    border-radius: 12px;
    width: 48.75%;
    align-content: center;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    background: #DEE2F1;
}
.presale-wrap .presale-card .left .mini-card h4{
    color: #2d344a;
    text-align: center;
    font-size: min(calc(12 * var(--res)), 22px);
}
.presale-wrap .presale-card .left .mini-card h3{
    color: #2d344a;
    text-align: center;
    font-size: min(calc(20 * var(--res)), 26px);
}
.left-left{
    display: flex;
    height: 40%;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.left-right{
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#claim-presale{
    width: 100%;
    height: 15%;
    font-size: min(calc(16 * var(--res)), 25px);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    min-width: 110px;
    color: #2d344ad3;
    font-weight: 600;
    background: #178cbb; 
}
.right{
    display: flex;
    height: 90%;
    justify-content: center;
    
    width: 45%;
    background-color: #DEE2F1;
    border-radius: 16px;
}
.right-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}
.right-title{
    display: flex;
    flex-direction: column;
    height: 19%;
    width: 100%;

    justify-content: center;
    align-items: start;
    font-size: min(calc(15 * var(--res)), 26px);

}
.balance-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 19%;
}

.balance-infos h6{
    font-size: min(calc(15 * var(--res)), 26px);

    font-weight: 500;

}

.balance-infos h5{
    font-size: min(calc(15 * var(--res)), 26px);

    font-weight: 500;

}
.input-wrapper{
    display: flex;
    height: 19%;
    width: 100%;
    position: relative;
}

.input-wrapper input{

    width: 100%;
    border-radius: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: min(calc(13 * var(--res)), 22px);
    font-weight: 600;
    padding-left: 0.8rem;
    color: #2d344aed;
    border: 4px solid #178cbb;
    outline: none;

}

#max {
    position: absolute;
    background: #178cbb;
    border: none;
    right: 0;
    cursor: pointer;
    height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: #2d344aed;
    width:calc(70 * var(--res)) ;
    font-weight: 600;
    font-size: min(calc(13 * var(--res)), 22px);
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}
.contribute-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 19%;
    justify-content: start;
    align-items: center;

}
.contribute-button button{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    font-size: min(calc(18 * var(--res)), 26px);
    border-radius: 14px;
    border: none;
    min-height: 30px;
    cursor: pointer;
    min-width: 110px;
    color: #2d344a;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #178cbb; 
}


.bridge-ETH{
    display: flex;
    width: 100%;
    height: 19%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: min(calc(18 * var(--res)), 26px);
}
.bridge-ETH:hover{
    color: #2d344ac8;
}














@media (max-width: 777px){

    .right-card .buttons-wrapper a{
        font-size: calc(26 * var(--res));
    }

    .contribute-button button{
        display: flex;
        width: 80%;
        justify-content: center;
        margin: 0 auto;
        height: 100%;
        font-size: min(calc(25 * var(--res)), 26px);
        border-radius: 14px;
        border: none;
        min-height: 30px;
        cursor: pointer;
        min-width: 110px;
        color: #2d344a;
        font-weight: 600;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: #ECB941; 
    }


    #claim-presale{
        width: 100%;
        height: 15%;
        font-size: min(calc(25 * var(--res)), 25px);
        border-radius: 12px;
        border: none;
        cursor: pointer;
        min-width: 110px;
        color: #2d344aaf;
        font-weight: 600;
        background: #ECB941; 
    }


    .right-card .whole-button button{
        display: flex;
        width: 100%;
        height: 100%;
        font-size: calc(30* var(--res));
        border-radius: 12px;
        border: none;
        min-height: 30px;
        cursor: pointer;
        min-width: 110px;
        color: #2d344ae6;
        font-weight: 600;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: #ECB941;
    }

    .wrap-cards{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 75%;
        height: 100vh;
        max-height: 1024px;
    }
    .wrap-cards .left-card{
        max-height: 49vh;
        width: 100%;
    }
    .wrap-cards .left-card img{
    }
    .wrap-cards .right-card{
        height: auto;
        min-height: 49vh;
        width: 100%;
    }
    .right-card .paragraph p{
        font-size: calc(10 + 1vmin);
    }
    .right-card .buttons-wrapper{
        display: flex;
        width: 90%;
        height: 15%;
        justify-content: space-between;
        align-items: center;
    }
    .right-card .buttons-wrapper a{
        width: 24%;
    }
    /* ----------------------------------------------------------------------------------*/
    /* ----------------------------------------------------------------------------------*/
    /* ----------------------------------------------------------------------------------*/
    /* ----------------------------------------------------------------------------------*/
    .presale-wrap{
        height: 50vh;
    }
    .presale-wrap .presale-card{
        flex-direction: column;
        height: 600px;
        padding: 1em 0;
        max-height: max-content;
    }
    
    .presale-wrap .presale-card .left{
        width: 90%;
        height: 48%;
        justify-content: space-between;
    }
    .presale-wrap .presale-card .left .mini-card{
        width: 100%;
        height: 47.5%;
        line-height: 1;
    }
    .presale-wrap .presale-card .left .left-left{
        flex-direction: column;
    }
    .presale-wrap .presale-card .left .left-right{
        flex-direction: column;
    }
    .presale-wrap .presale-card .right{
        width: 90%;
        height: 48%;
    }
    .presale-wrap .presale-card .left .mini-card h3{
        font-size: calc(24 * var(--res));
    }
    .right-title{
        font-size: calc(26 * var(--res));
    }
    .presale-wrap .presale-card .left .mini-card h4{
        font-size: calc(15 * var(--res));

    }
    .balance-infos h5,
    .balance-infos h6,
    .bridge-ETH{
        font-size: calc(20 * var(--res));
    }
    .input-wrapper input,
    #max{
        font-size: calc(20 * var(--res));
    }

    body{
        height: 230vh;
    }
}


@media screen and (min-width:1500px) {
    .wrap-cards{
        justify-content: center;
        gap: 40px;
    }
    
}
@media (max-width: 450px){
    .right-card .paragraph p{
        font-size: calc((22*var(--res)));
    }
}


@media (max-width:374px){
    header{
        display: none;
    }
    main{
        display: none;
    }
    .textwidth375{
        display: flex;
        position: absolute;
        color: white;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        font-size: 15px;
        width: 90%;
        background-color: #2d344a;
        border-radius: 12px;
        padding: 0.3em;
    }
}